# rename to config.cfg and set your individual variables
# .gitignore will ensure that those are not pushed back to the repository

TOKEN="YOURBOTTOKEN"
CHATID="YOURCHATID"

# htlcScan settings
# NOTIFYLIMIT=10
# MIN_BLOCKS_TIL_EXPIRY=-10